APP_ENV=production
APP_URL=https://dopln-domeny.sk
GOOGLE_SHEET_ID=1B8Ls6VzvBKhgJPHdT1NbKRm3t_u_n5GWGuvSQGAsjBg
GOOGLE_SHEET_TAB=RSVP
GOOGLE_CREDENTIALS_PATH=/absolutna/cesta/mimo-public/service-account.json

